<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title id = "idTitlePage"></title>
    <link rel = "stylesheet" href="../static/css/style.css">
</head>
<body>
<header>
    <div id="auth_user" style="display: flex; flex-direction: column; gap: 10px; align-items: flex-start;">
        <button id="backToMain" class="btn-primary" onclick="window.location.href='index.html'">На главную</button>
        <button id="logOut" type="button" class="btn-danger" onclick="logOut()">Выйти из аккаунта</button>
        <p id="username_p"></p>
    </div>

    <div id = "no_auth_user" style = "display: flex">
        <button id = "singIn" type="button" onclick="goAuth()">Войти</button>
        <button id = "singUp" type="button" onclick="goReg()">Зарегистрироваться</button>
    </div>

    <!--        <button id = "checkAuth" type="button" onclick="checkAuth()">Проверить значения сессии</button>-->
</header>
<main>
    <div id = "advt">

    </div>
</main>
</body>
<script src="../static/js/openPageAdvt.js"></script>
<script src="../static/js/checkAuth.js"></script>
<script src="../static/js/verificationUser.js"></script>
<!--<script src="js/functionAdvt.js"></script>-->
</html>